$gray_800: #141416;
$gray_700: #23262f;
$gray_600: #353945;
$gray_500: #777e91;
$gray_400: #b1b5c4;
$gray_300: #e6e8ec;
$gray_200: #f4f5f6;
$gray_100: #fcfcfd;

$primary_yellow: #ffc737;
$primary_blue: #3772ff;
$primary_pink: #9757d7;
$primary_orange: #ff6838;
$primary_green: #58bd7d;

$secondary_yellow: #ffd166;
$secondary_blue: #4bc9f0;
$secondary_antiquewhite: #e4d7cf;
$secondary_pink: #cdb4db;

$font_main: 'Roboto', sans-serif;
$font_title: 'Gilroy', sans-serif;
$font_size: 14px;
$line_height: 24px;
$font_weight: 400;
